@font-face {
  font-family: "Roboto";
  src: url(./Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Source_Sans_Pro";
  src: url(./Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Source_Sans_Pro";
  src: url(./Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1e3143; */
}

* {
  box-sizing: border-box;
  background-color: #1e3143;
}
.container {
  margin: 265px 494px;
  min-width: 452px;
  min-height: 494px;
  border: 1px solid #1e3143;
  border-radius: 40px;
  position: relative;
  box-shadow: -4px -4px 12px 0px #22405c80, 4px 4px 12px 0px #0f192378;
}
h1 {
  position: absolute;
  left: 58px;
  top: 78px;
  width: 200px;
  height: 56px;
  font-family: "roboto";
  font-size: 48px;
  font-weight: 600;
  line-height: 1em;
  color: #08979c;
  margin: 0;
  font-style: normal;
}

.start {
  display: inline-block;
  position: absolute;
  top: 157px;
  left: 58px;
  font-family: "Source_Sans_Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-justify: 1px;
  color: #08979c;
}

.account,
.pwd {
  position: absolute;
  border: 1px solid #1e3143;
  border-radius: 60px;
  width: 336px;
  height: 60px;
  left: 58px;
  box-shadow: -4px -4px 12px 0px #93939340 inset, 4px 4px 12px 0px #152534 inset;
}

.account {
  top: 203px;
}

.pwd {
  margin-top: 286px;
}

input[placeholder="Your account name"],
input[placeholder="Your password here"] {
  padding: 21px 16px 21px 24px;
  width: 336px;
  height: 60px;
  font-family: "Source_Sans_Pro";
  color: #08979c;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.6px;
}

::placeholder {
  color: #08979c;
}

img {
  position: absolute;
  margin-top: 308px;
  margin-left: 346px;
}

input[type="submit"] {
  position: absolute;
  top: 382px;
  left: 152px;
  padding: 15px 39px 15px 38px;
  width: 148px;
  height: 60px;
  border-radius: 60px;
  font-family: "Source_Sans_Pro";
  color: #08979c;
  font-size: 24px;
  font-weight: 400;
  box-shadow: 4px 4px 12px 0px #0f192378, -4px -4px 12px 0px #22405c80;
  border-style: none;
}

/* 提问：发现可以在很多不做absolute的情况下用margin-top和margin-left也能实现图片，或者absolute情况下left，top，哪种情况更建议 */
